body{
    overflow: hidden;
    margin: 0 0 0 0;
    font-family: 'Inter', sans-serif;
    background-image: url("background.jpeg");
}
#contextMenu{
    position: absolute;
    text-decoration: none;
    list-style: none;
    padding: 0 0 0 0;
    z-index: 3;
}
.menuElement{
    background-color: rgb(200, 200, 200);
    padding: 5px 90px 5px 10px;
    text-align: start;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10pt;
    margin: 5px 5px 5px 5px;
}
.menuElement:hover{
    background-color: rgb(107, 107, 107);;
}
#noteColor{
    margin-left: 10px;
}
div.note {
    min-width: 100px;
    min-height: 150px;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #d2b48c;
    z-index: 1;
}
.drag{
    user-select: none;
    padding: 10px;
    border: solid 1px black;
}
.noteTop{
    background-color: rgb(161, 138, 108);
    width: inherit;
    height: 20px;
    border-radius: 10pt;
    text-align: center;
    padding: 2px 0 0 0;
}
.delButton svg{
    width: 24px;
    height: 24px;
}
.delButton{
    padding: 0 0 0 0;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background: none;
    border: none;
    text-align: right;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.delButton:hover{
    background-color: rgba(107, 107, 107, 0.267);
}
.pins{
    height: 16px;
    width: 16px;
    border-radius: 10px;
    background-color: #b10000;
    border: none;
}
.pins:hover{
    background-color: rgb(145, 0, 0);
}
a{
    position: absolute;
}
.strings{
    position: absolute;
    z-index: 2;
}
.stringClose{
    position: absolute;
}
.rDiv{
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
header{
    z-index: 4;
    position: absolute;
    background-color: ghostwhite;
    width: 100%;
    padding: 10px 10px 10px 10px;
}
#infodiv{
    margin-top: 5px;
    margin-left: 10px;
}
span{
    margin: 10px;
}
.nodecorLink{
    text-decoration: none;
    color: black;
}
.nodecorLink:hover{
    text-decoration: underline;
}
.Button{
    background-color: rgb(200, 200, 200);
    padding: 5px 10px 5px 10px;
    text-align: start;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 10pt;
    margin: 5px 5px 5px 5px;
}
.Button:hover{
    background-color: rgb(107, 107, 107);;
}
#buttonDiv{
    position: absolute;
    display: inline;
    right: 10%;
    top: 25%;
}
#boardTitle{
    height: 10px;
    width: 100px;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 10px;
    padding: 2px;
    margin-left: 10px;
}
#controlDiv{
    padding: 0px 10px 0px 10px;
}