body{
    overflow: hidden;
    margin: 0 0 0 0;
}
div.note {
    position: absolute;
    max-width: 500px;
    max-height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    background-color: tan;
}
.drag{
    user-select: none;
    padding: 10px;
    border: solid 1px black;
}
.noteTop{
    background-color: rgb(161, 138, 108);
    width: inherit;
    height: 10px;
    border-radius: 10pt;
}
.delButton svg{
    width: 24px;
    height: 24px;
}
.delButton{
    padding: 0 0 0 0;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background: none;
    border: none;
    text-align: right;
}
.delButton:hover{
    background-color: rgba(107, 107, 107, 0.267);
}